@{
  Layout = "_Layout";
}

<form class = "horizontal" role = "form" action="/vendors/@Model.Id/orders" method="post">
  <fieldset>
    <legend> Add New Order For @Model.Name</legend>
      <div class = "form-group">
        <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
          
          <label for="orderTitle" class = "col-lg-2 control-label">Title</label>
          <div class = "col-lg-10">
            <input id="orderTitle" name="orderTitle" type="text">
          </div>

        <label for="BakedGoodType" class = "col-lg-2 control-label">Baked Goods Ordered</label>
        <div class= "col-lg-10">
          <input id="BakedGoodType" name="BakedGoodType" type="text">
        </div>

        <label for="Quantity" class = "col-lg-2 control-label">Quantity of Goods</label>
        <div class= "col-lg-10">
          <input id="Quantity" name="Quantity" type="text">
        </div>

        <label for="orderPrice" class = "col-lg-2 control-label">Total Price</label>
        <div class = "col-lg-10">
          <input id="orderPrice" name="orderPrice" type="number"> 
        </div>

        <label for="orderDate" class = "col-lg-2">Order Date</label>
        <div class = "col-lg-10">
          <input id="orderDate" name="orderDate" type="date">
        </div>

      <div class = "col-lg-10 col-lg-offset-2">
        <button type = "reset" class = "btn btn-default">Cancel Order</button>
        <button class = "btn btn-info" type='submit'>Add order</button>
      </div> 

    </div>
  </fieldset>
</form>