@{
  Layout = "_Layout";
}

@using BakeryManagementApp.Models; 

<h3> Pierre, here are the orders for this vendor:</h3>
<ol>
  @foreach (Order order in @Model ["orders"])
  {
    <li><a href= '/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
  }
</ol>

<p><a href = '/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href = '/vendors'>Go to vendor list</a></p>
<p><a href = '/'> Go to Main Page</a></p>