@{
  Layout = "_Layout";
}

@using BakeryManagementApp.Models; 

<h3> Pierre, here are the orders for this vendor:</h3>
<ul class = "list-group">
  @foreach (Order order in @Model ["orders"])
  {
    <li class = "list-group-item"><a href= '/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
  }
</ul>


<p><a href = '/vendors/@Model["vendor"].Id/orders/new'>Add New Order</a></p>
<p><a href = '/vendors'>See All Vendors</a></p>
<p><a href = '/'>Welcome Page</a></p>